<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.www.opeartor.dao.LoginDaoMapper">
	<select id="getUser" parameterType="java.lang.String" resultType="com.www.opeartor.entity.Operator">
		SELECT userName,userPwd from op_bd_user where userName=#{userName}
	</select>
</mapper>