<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Properties>
		<!-- 日记记录的目录 -->
		<Property name="logFileDir">E://javaweb//log//</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%-5p][%F:%L] - [%m]%n" />
		</Console>
		<RollingFile name="sizeRollingFile_withDateSuffix" fileName="${logFileDir}operator.log" filePattern="${logFileDir}operator.%d{yyyy-MM-dd-HH-mm-ss}.log">
			<PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%-5p][%F:%L] - [%m]%n" />
			<Policies>
				<!-- 按大小分割 size为大小间隔-->
		    	<SizeBasedTriggeringPolicy size="80 MB" />
		        <OnStartupTriggeringPolicy />
		    </Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<Appender-ref ref="console"/>
			<Appender-ref ref="sizeRollingFile_withDateSuffix"/>
		</Root>
	</Loggers>
</Configuration>