<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.2.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
      
      <context:component-scan base-package="com.www.opeartor.etc,com.www.opeartor.dao,com.www.opeartor.serviceImpl"></context:component-scan>
      
      <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
      	<property name="locations">
      		<list>
      			<value>classpath:app.properties</value>
      		</list>
      	</property>
      </bean>
      <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
      	<property name="driverClassName" value="${driverClass}" />
      	<property name="url" value="${dburl}" />
      	<property name="username" value="${dbusername}" />
      	<property name="password" value="${dbpassword}" />
      </bean>
      
      
      <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
      	<constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
      </bean>
      
   </beans>